{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'estateapp/reset.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Pasword</title>
</head>
<body>
    <div class="hero">
        <div class="form-box">
         <h2>Set Your New Password</h2>

    <form method="POST" class="input-group">
        {% csrf_token %}
        <input type="password" class="input-field custom-class" id="enter" placeholder="New Password" name="new_password1" required>
        <input type="password" class="input-field custom-class" id="enter" placeholder="Confirm New Password" name="new_password2" required>

        <button type="submit">Reset Password</button>
                    {{form.errors}}
    </form>
        </div>
    </div>
   
</body>
</html>