{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'estateapp/reset.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
     <div class="hero">
        <div class="form-box">
        <h2>Check Your E mail</h2>
        <p>If your email exists in our ystem, you'll recieve a link to reset your password</p>
        <p><a href="{% url 'login' %}">Back To Login</a></p>
    
        </div>
    </div>
    
</body>
</html>