{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'estateapp/reset.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <div class="hero">
        <div class="form-box">
        <h2>Reset Password</h2>
        <h3>Enter your Email</h3>
    <form action="" class="input-group" method="post">
        {% csrf_token %}
        <input type="email" class="input-field custom-class" name="email" id="email" placeholder="Email"  style="outline: none;" >
        <button type="submit">Send Reset Email </button>
          
    </form>
        </div>
    </div>
    
</body>
</html>