asgiref==3.7.2
certifi==2025.1.31
charset-normalizer==3.4.1
dj-database-url==2.3.0
Django==4.2.7
django-heroku==0.3.1
django-multiupload==0.6.1
gunicorn==23.0.0
idna==3.10
packaging==24.2
Pillow==10.0.1
psycopg2==2.9.10
python-decouple==3.8
requests==2.32.3
setuptools==68.2.2
sqlparse==0.4.4
typing_extensions==4.12.2
tzdata==2023.3
urllib3==2.3.0
wheel==0.41.3
whitenoise==6.8.2
