{% load static %}
<!DOCTYPE html>
<html>
    <head>
     <meta name="viewport" content="width=device-width, initial-scale =1.0">
     <title>Real Estate Nigeria | Dashboard</title>
    <link rel="stylesheet" href= "{% static 'estateapp/dashboard.css'%}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/f9f6acc074.js" crossorigin="anonymous"></script>
    </head>
   
    <body>
    <div class="header">  
        <nav id="navBar" class="fa-bars" style="background: linear-gradient(to left, white, green); ">
            {% if plan_name != "Starter" and plan_name != "No Plan" %}
            <label class="logo">{{request.user}} </label>
            {% else %}
            <label class="logo">Real Estate Nigeria <span>(REN)</span> </label>

            {% endif %}
            <ul class="nav-links">
                <li><a href="/dashboard/" class="active">Dashboard</a></li>
                <li><a href="/personal/" class="#">My Listings</a></li>
                <li><a href="profile/" class="#">Profile</a></li>
                <li><a href="/pro/" class="#">Add Property</a></li>
                
                {% if plan_name != "Starter" and plan_name != "No Plan" %}
                <li><a href="/viewrequest/" class="#">View Request</a></li>
                {% endif %}

                
    {% if profile.is_paid_active %}
            <li><a href="/payment_history/" class="#">Payments</a></li>          
    {% else %}
                           
    {% endif %}

               
                <li><a href="/subscription/" class="#">Subscriptions</a></li>
                <i class="fa-solid fa-bars" onclick="togglebtn()" ></i>
                <i class="fa-solid fa-toggle-on" onclick="myFunction()"></i>
              
            </ul>
           <a href="{% url 'logout' %}" class="register-btn">Log Out</a>
            
        </nav>
                <div class="container">
                  <h2> 🚀 Welcome  <span>{{request.user}}</span>!</h2>
                {% if user.is_authenticated  %} 
                    {% if post_count > 0  %} 
                        <p>You have {{ post_count }} {{ post_count | pluralize:"property,properties" }}.</p>

                    {% else %}
                        <p>You haven't made any posts yet!</p>
                    {% endif %}
                {% endif %}

                    <a href="/dashboard/profile/">
                    <button class="add">
                        
                            <i class="fa-solid fa-house-medical-circle-check"></i> Edit Your Profile
                    </button>
                        </a>
                    
                </div>
 



    {% if profile.is_paid_active %}
    <div class="alert alert-success" style="color: green; text-align: center;">

     {{ plan_name }} Subscription Activated!! It expires on: {{ profile.expiry_date|date:"F j, Y" }}
    </div>
{% else %}
    <div class="alert alert-warning"  style="color: red; text-align: center;">
        No active subscription. Please subscribe to a plan.
    </div>
{% endif %}

{% if not profile.is_verified %}
<a href="{% url 'verifyagent' %}">Verify My account</a>
{% else %}
<span class="text-success">Your are verified</span>
{% endif %}
        <script src="index.js"></script>
        
<script>
            var navBar=document.getElementById("navBar");
            function togglebtn(){
                navBar .classList.toggle("hidemenu");
            }
</script>

 <script>

            var sidemenu = document.getElementById("drop");
       
             function openprofile(){
                  sidemenu.style.right = "0";
             }
             function closeprofile(){
                 sidemenu.style.right = "-200px";
             }
 </script>
 
 <script>
    let profilePic = document.getElementById("profile-pic");
    let imageInput = document.getElementById("image_input");

    imageInput.onchange = function(){
        profilePic.src = URL.createObjectURL(imageInput.files[0]);

    }
</script>
<script>
    var sub =document.getElementById("sub");
    function myFunctioin(){
        alert("Profile Upload Succesfull")
    }
</script>
  
</body>
</html>        