{% load static %}
<!DOCTYPE html>
<html>
    <head>
     <meta name="viewport" content="width=device-width, initial-scale =1.0">
     <title>Real Estate Nigeria(REN)</title>
    <link rel="stylesheet" href= '{% static "estateapp/Real Estate Nigeria.css"%}'>
     <script src="https://kit.fontawesome.com/f9f6acc074.js" crossorigin="anonymous"></script>
     <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
     <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
     <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
     <link rel="manifest" href="favicon_io/site.webmanifest">
    </head>
   
    <body>
    <div class="header">  
        <nav id="navBar" class="fa-bars" style="background: linear-gradient(to left, white, green); ">
            <label class="logo">Real Estate Nigeria <span>(REN)</span> </label>
            <ul class="nav-links">
                <li><a href="/home" class="active">Home</a></li>
                <li><a href="/Listings/" class="#">Listings</a></li>
                <li><a href="/howitworks/" class="#">How it works</a></li>
                <li><a href="/request/" class="#">Post a request</a></li>
                <li><a href="/contact/" class="#">Contact Us</a></li>
                <a href="/registration-path/" target="_blank"  class="register-btn"  onclick="return confirm('Only Agents are allowed to register');">Register Now</a>
                <i class="fa-solid fa-bars" onclick="togglebtn()" ></i>
                <i class="fa-solid fa-toggle-on" onclick="myFunction()"></i>
            </ul>
           
        </nav>
       
        <div class="container">
            <h1>Find Your Perfect Home </h1>
            <div class="search-box">
                <form action="{% url 'results' %}" method="get" class="search-bar">
                    <div class="country-input"> 
                        <label>House</label>
                        <input type="text" name="subtype" placeholder="e.g Duplex,Bungalow,Block of flats">
                    </div>
                    <div>
                        <label>Area</label>
                        <input type="text" name="area"  placeholder="E.g Amikanle">
                        
                    </div>
                    <div>
                        <label>State</label>
                        <input type="text" name="state" placeholder="e.g Lagos">
                    </div>
                    <div>
                        <label>Type</label>
                        <input type="text" name="category" placeholder="e.g For rent, For sale">
                    </div> 
                    <div>
                        <label>Max-Budget</label>
                        <input type="text" name="currencyfield" placeholder="Enter Your Max-Budget">
                    </div>
                     <button type="submit">Search</button>  
                     <script>
                         
                     </script>
                </form>
            </div>
        </div>
    </div>
    <div class="container-2">
        <h2 class="sub-title">Exclusives</h2>
        <div class="exclusives">
            {% for post in random_posts %}
            <div class="property-card">
                <a href="{% url 'post-detail' post.id %}">
                  <div class="image-wrapper">
                    <img src="{{ post.thumb.url }}">
                <div class="overlay-text">
                <h3>{{ post.title }}</h3>
                <p>₦{{ post.currencyfield }}</p>
                  </div>  
                
            </div>
            </a>
            </div>
           {% endfor %}
        </div>
        <h2 class="sub-title">Trending Places</h2>
        <div class="trending">
          <div>
            <img src="{% static 'estateapp/image/image3.jpg' %}" style="height: 120px;">
              
              <h3>Surulere</h3>
          </div>
          <div>
            <img src="{% static 'estateapp/image/image4.jfif' %}">
            <h3>Lekki</h3>
        </div>
        <div>
            <img src="{% static 'estateapp/image/image5.jpg' %}" style="height: 120px;" >
            <h3>Ajah</h3>
        </div>
        <div>
            <img src="{% static 'estateapp/image/image6.jpg' %}">
            <h3>Ibadan</h3>
        </div>
        <div>
            <img src="{% static 'estateapp/image/image7.jfif' %}" style="height: 120px;">
            <h3>Abuja</h3>
        </div>
        
        </div>
      
<!---Affiliate----->
        <h2 class="sub-title">How it works</h2>
        <div class="border-box"></div>

        <div class="cta">
            
            <h3>How it works on Real Estate Nigeria</h3>
            <p>Real Estate Nigeria <span>(REN)</span>  is built to connect agents, clients, and property owners, creating a seamless and <br>
                 efficient real estate marketplace. Our platform ensures that only registered agents and property owners can create listings, <br>
                   making the process more professional and secure. Clients, on the other hand, can explore the website freely to find their desired 
                    properties without the need for an account. Agents have full control over their listings, with the ability to create, edit, and delete
                     properties they have posted. Property owners can connect directly with agents to facilitate smooth transactions, ensuring that every 
                     listing is managed by a verified professional. REN is designed to streamline real estate operations, enhance trust, and provide a 
                     user-friendly experience for everyone involved.

            </p>
            <a href="/howitworks/" class="cta-btn">Know More</a>
        </div>
       
        <!-------Agent-->
        <h2 class="sub-title">Agent</h2>
        <div class="border-box"></div>
        <div class="cta">
            <h3>Are you An Agent?</h3>
   <p>Do you have a high taste clients and don't have what to satisfy them? Are you looking for a paying transaction to establish yourself as an Agent? Real Estate Nigeria got you covered!!!</p>
            <a href="/registration-path/" class="cta-btn">Register As An Agent</a>
        </div>

      
        



        
        </div>
        
      </div>
         <div class="about-msg">
             <h2>Real Estate Nigeria <span>(REN)</span></h2>
             <p>Real Estate Nigeria (REN) is an emerging leader in the real estate industry, dedicated to providing a seamless and interactive 
                platform for agents, property owners, and clients. Committed to excellence, REN aims to set new standards in property transactions
                 across Nigeria and beyond. Founded by Shield Properties.NG, REN is built on a foundation of trust, innovation, and efficiency,
                ensuring that every user experiences a professional and reliable real estate marketplace.
             </p>
         </div>
    
         <h2>How to Search For An Apartment With Real Estate Nigeria <span>(REN)</span></h2>
         <P>Videos have been made available for you to easily learn how to navigate through Real Estate Nigeria <span>(REN)</span> to get your desired property</P>
             <div class="help">
         <P><a href="https://youtube.com/">How To Search For An Apartment With  Real Estate Nigeria <span>(REN)</span></a></P>
         <P><a href="https://youtube.com/">How To Register as an Affiliate with Real Estate Nigeria <span>(REN)</span></a></P>
         <P><a href="https://youtube.com/">How To Search For An Apartment With Real Estate Nigeria <span>(REN)</span></a></P>
         <P><a href="https://youtube.com/">How To Search For An Apartment With Real Estate Nigeria <span>(REN)</span></a></P>
         
             </div>
         <div class="footer">
             <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
             <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
             <a href="https://Instagram.com/"><i class="fab fa-instagram"></i></a>
             <a href="https://youtube.com/"><i class="fab fa-youtube"></i></a>
             <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>  
             <hr>
             <p>Copyright <i class="fa-regular fa-copyright"></i> 2025,Real Estate Nigeria <span>(REN)</span></p> 
         </div>

    </div>
    <script>
        var navBar=document.getElementById("navBar");
        function togglebtn(){
            navBar .classList.toggle("hidemenu");
        }
    </script>
    <script>
        function myFunction() {
  var element = document.body;
  element.classList.toggle("dark-mode");
}
    </script>
     <script src="add property.js"></script>
    </body>
</html> 