{% load static %}
<!DOCTYPE html>
<html>
    <head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale =1.0">
     <title>Real Estate Nigeria | Listings</title>
     <link rel="stylesheet" href="{% static 'estateapp/listings.css'%}">
     <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
     <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
     <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
     <link rel="manifest" href="favicon_io/site.webmanifest">
     <script src="https://kit.fontawesome.com/f9f6acc074.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav id="navBar" class="fa-bars" style="background: linear-gradient(to left, white, green); ">
            <label class="logo">Real Estate Nigeria <span>(REN)</span> </label>
            <ul class="nav-links">
                <li><a href="/home/" class="#">Home</a></li>
                <li><a href="/Listings/" class="active">Listings</a></li>
                <li><a href="/howitworks/" class="#">How it works</a></li>
                <li><a href="/request/" class="#">Post a request</a></li>

                <li><a href="/contact/" class="#">Contact Us</a></li>
                <a href="/registration-path/" target="_blank"  class="register-btn"  onclick="return confirm('Only Agents are allowed to register');">Register Now</a>
                <i class="fa-solid fa-bars" onclick="togglebtn()" ></i>
                <i class="fa-solid fa-toggle-on" onclick="myFunction()"></i>
            </ul>
           
        </nav>
        <div class="container">


   <div class="list-container">
    <div class="left-col">
        <a href="/Listings/">Refresh Page</a>
            <p>{{ posts|length }} Options</p>
                     
         <h1>Top Listings</h1>
        
        {% for post in posts %} 
        <div class="house">
             <div class="house-img">
                 <img src="{{ post.thumb.url|default:'#' }}" alt="">
                 <p class="text-content">{{ post.category|default:"Unknown Category" }}</p>
             </div>
     
             <div class="house-info">
                 <p>{{ post.title|default:"No Title" }}</p>
     
                 {% if post.id %}
                     <a href="{% url 'post-detail' post.id %}"><h3>{{ post.short|default:"No Short Description" }}</h3></a>
                 {% else %}
                     <h3>{{ post.short|default:"No Short Description" }}</h3>
                 {% endif %}


                  {% if post.get_building_display != "land" %}
                           <p> 
                     <i class="fa-solid fa-bed"></i> {{ post.bedroom|default:0 }} Bedrooms |
                     <i class="fa-solid fa-bath"></i> {{ post.bathroom|default:0 }} Bathrooms  |
                     <i class="fa-solid fa-toilet"></i> {{ post.toilet|default:0 }} Toilets   
                 </p>
                            {% endif %}
                
                 
     
                 <i class="fa-solid fa-star"></i>
                 <i class="fa-solid fa-star"></i>
                 <i class="fa-solid fa-star"></i>
                 <i class="fa-solid fa-star-half-stroke"></i>
                 <i class="fa-regular fa-star"></i>
     
                 <div class="house-price">
                     <h4>₦{{ post.currencyfield|default:"0.00" }}</h4>
                     <div class="post-row">
                         <h4>Posted By</h4>
                         <h2>{{ post.author }}</h2>
                     </div>
                 </div>
                
                 
                 <ul>
                     <li><a href="https://wa.me/{{ profile.phone }}"><i class="fa-brands fa-whatsapp"></i></a> <p>Whatsapp</p></li>
                     <li><a href="tel:+{{ profile.phone}}"><i class="fa-solid fa-phone"></i></a><p>Phone</p></li>
                     <li><i class="{{profile.telegram}}"></i> <p>Telegram</p></li>
                     <li><i class="{{profile.insta}}"></i> <p>Instagram</p></li>
                 </ul> 
                
             </div>
         </div>
        {% endfor%}
     
      

          




      </div>
       
            
      <div class="right-col">
        <img src="{% static 'estateapp/image/Houses Everywhere and Anywhere!.png' %}" alt="">     
     
           <h2 class="news">Join Our Newsletter</h2>
          <hr>
                      <p>Connect with other clients from everypart of the conuntry</p>
             <button class="connect">Connect</button>
               <hr class="line2">      
            </div>

    
        </div>
        <div class="footer">
            <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://Instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://youtube.com/"><i class="fab fa-youtube"></i></a>
            <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>  
            <hr>
            <p>Copyright <i class="fa-regular fa-copyright"></i> 2023,Real Estate Nigeria <span>(REN)</span></p> 
        </div>

<script>
            var navBar=document.getElementById("navBar");
            function togglebtn(){
                navBar .classList.toggle("hidemenu");
            }
</script>




    </body>
    </html>