{% load static %}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale =1" />
     <title>Real Estate Nigeria | Registration</title>
     <link rel="stylesheet" href= "{% static 'estateapp/registration-path.css'%}">
     <script src="https://kit.fontawesome.com/f9f6acc074.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="header">  
            <nav id="navBar" class="hidemenu fa-bars" style="background: linear-gradient(to left, white, green); ">
              <label class="logo">Real Estate Nigeria<span>(REN)</span> </label>
                <ul class="nav-links">
                    
                </ul>
                <i class="fa-solid fa-toggle-on" onclick="myFunction()"></i>
            </nav>
        
         <div class="container"> 
           <div class="cta">
            <h3>Are you An Agent?</h3>
           <p>Do you have a high taste clients and don't have what to satisfy them? Are you looking for a paying transaction to establish yourself as an Agent? Real Estate Nigeria got you covered!!!</p>
            <a href="/sign-up/" class="cta-btn">Register As An Agent</a>
        </div>

       
         </div>
        </div>
        </body>
</html>