{% load static %}
<!DOCTYPE html>
<html>
    <head>
     <meta name="viewport" content="width=device-width, initial-scale =1.0">
     <title>Request</title>
    <link rel="stylesheet" href= '{% static "estateapp/request.css"%}'>
     <script src="https://kit.fontawesome.com/f9f6acc074.js" crossorigin="anonymous"></script>
     <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
     <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
     <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
     <link rel="manifest" href="favicon_io/site.webmanifest">
    </head>
    <div class="header">
        <nav id="navBar" class="fa-bars" style="background: linear-gradient(to left, white, green); ">
            <label class="logo">Real Estate Nigeria <span>(REN)</span> </label>
            <ul class="nav-links">
                <li><a href="/home" class="#">Home</a></li>
                <li><a href="/Listings/" class="#">Listings</a></li>
                <li><a href="/howitworks/" class="#">How it works</a></li>
                <li><a href="/request/" class="active">View request</a></li>
                <li><a href="/contact/" class="#">Contact Us</a></li>
                <i class="fa-solid fa-bars" onclick="togglebtn()" ></i>
                <i class="fa-solid fa-toggle-on" onclick="myFunction()"></i>
            </ul>
            <a href="{% url 'logout' %}" class="register-btn">Log Out</a>
           
        </nav>
      <div class="container">
        <h2>{{ requests|length }} Requests</h2>

            <div class="card">
        {% for request in requests %}
            <div class="message">
                <p>Name : {{ request.name }}</p>
                <p>Email: {{ request.email }}</p>
                <p>Phone Number: {{ request.phone }}</p>
                <p>Category: {{ request.asking }}</p>
                <p>Type: {{ request.house }}</p>
                <p>Request: {{ request.describe }}</p>
                <button class="contact"> <a href="https://wa.me/{{ request.phone }}"> Contact via whatsapp</a></button>
            </div>
        {% endfor%}
            </div>
   
      </div>

      
    </div>
   </html>